{% extends 'layouts/index.html' %}

{% block content %}
  <h1>{{ product.title }}</h1>
  <p>{{ product.description }}</p>

  {% if reviews %}
    <h2>Reviews</h2>
    <ul>
      {% for review in reviews %}
        <li>{{ review.text }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  <h2>Add Review</h2>
  <form  method="POST" class="post-form" action="{% url 'create_review' id=product.id %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="save btn btn-default">Create Review</button>
  </form>
{% endblock %}
