{% extends 'layouts/index.html' %}

{% block content %}
    <style type="text/css">
        .post_block {
            width: 80%;
            margin-left: 10%;
            margin-top: 50px;
        }
        .post_block > img {
            width: 50%;
        }
        .comments {
        margin-top: 30px;
        }
        .comment_block {
            background: #242b2e;
            margin-bottom: 20px;
            color: #ffffff;
            padding: 10px;
        }
    </style>
    <div class = "post_block">
        {% if product.image %}
            <img src="/media/{{ product.image }}" alt="...">
        {% else %}
            <img src="/media/placeholder.png" alt="...">
        {% endif %}
        <div class = "info">
            <h1>{{ product.title }}</h1>
            <h4>{{ product.description }}</h4>
            <h4>{{ product.price }}</h4>
            <h5>Rate: {{ product.rate }}</h5>
            <div class = "dates">
                <h5>CPU: {{ product.cpu }}</h5>
                <h5>GPU: {{ product.gpu }}</h5>
            </div>
        </div>
    {% if not user.is_anonymous  %}
        <div class="create_review">
            <form method="post" action="/products/{{ product.id }}/">
                {% csrf_token %}
                <label for="review_text">Create review:</label>
                <textarea name="review_text" rows="3" cols="40"></textarea>
                <input type="submit" value="Create review">
            </form>
        </div>
    {% endif %}

        <div class="comments">
            {% for review in reviews %}
                <div class="comment_block">
                <h5>{{ review.text }}</h5>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}